@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  src: url('../fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

.header-image {
  height: 30rem;
}

.header-image-lg {
  height: 300px;
}